<div class="light site-region" id="part2">

        <div class="container">
          <div class="title first big-top-margin">
            About Me
            <span class="pink-font">(Jodex Saint-Vil)</span>
          </div>
          <div class="subtitle">
            Doing the best to get project done on time. I work hard till i meet the deadline
            <em> of every</em>
            challenge.
          </div>
        </div>

        <!-- EXPETIMRNTING WITH TIMELINE PANEL FOR INFO ANOUT ME DISPLAY-->
        <div class="row" style="margin-left: 2%; margin-right: 2%; margin-top: 5%;">
        <div class="row colorFormatting">
          <div class="col-lg-12">
                <ul class="timeline">
                  <li>
                        <div class="timeline-image">
                          <img class="img-circle img-responsive" src="/assets/jodex.jpg" alt="Jodex's pic">
                        </div>
                        <div class="timeline-panel">
                              <div class="timeline-heading">
                                <h4 style="color: red">Info About Me</h4>
                                <h4 class="subheading">Jodex S.</h4>
                              </div>
                              <div class="timeline-body" style="margin-left: 15%;">
                                <p class="text-muted" style="font-size: large;">
                                    Graduated from Kent State University in Fall 2015. I am currently studying computer science and minoring in math. I am a Software/Web developer and  I love writing software programs tho sometimes it means replicating someone else's work. I am a Ruby On Rails lover.
                                </p>
                              </div>
                        </div>
                        <div class="line"></div>
                  </li>

                  <li class="timeline-inverted">
                        <div class="timeline-image">
                          <img class="img-circle img-responsive" src="/assets/hireme.jpg" alt="Hire Me">
                        </div>
                        <div class="timeline-panel">
                              <div class="timeline-heading">
                                <h4 style="color: red">Why you should hire me?</h4>
                                <h4 class="subheading">Hire </h4>
                              </div>
                              <div class="timeline-body" style="margin-right: 15%">
                                <p class="text-muted" style="font-size: large;">
                                    Guarantee to give you a great service and test the projects through and throu making sure you get the best quality software and minimizing errors as best as possible. Overall, you will love me and the way I approach
                                </p>
                              </div>
                        </div>
                        <div class="line"></div>
                  </li>

                  <li>
                        <div class="timeline-image">
                          <img class="img-circle img-responsive" src="/assets/report.jpg" alt="Reports">
                        </div>
                        <div class="timeline-panel">
                              <div class="timeline-heading">
                                <h4 style="color: red">Report Very Often</h4>
                              </div>
                              <div class="timeline-body" style="margin-left: 15%">
                                <p class="text-muted" style="font-size: large">
                                    Very detailed reports on the progress made on the project (and source code if you so choose to look at it)
                                </p>
                              </div>
                        </div>

                  </li>


                </ul>
            </div>
        </div>
    </div>
        <!--  end of timeline (from bootsnipp)  -->

        <hr style="border: 0;height: 1px;background: #333;background-image: linear-gradient(to right, #ccc, #333, #ccc); margin-top: -2%;" />


      </div>

<!-- start of work section -->
      <div class="container" id="part3">

        <div class="dark">
          <div class="arrow-down-grey arrow-2"><a href="#part6" id="part6Btn"><img alt="Arrow down grey" style="margin-left: 45%;" src="/assets/arrow-down.png"></a></div>
          <div class="banner" style="background-position: 50% -129px;">
            <div class="container">
              <div class="subheading">
                <div class="subhead row" style="margin-left: 45%; margin-top: 2%;font-size: large">
                  WHAT I
                  <span class="pink-font">DO?</span>
                </div>
              </div>
              <div class="subcontent">
                <p style="font-size: 22px; color: black; text-align: center">
                   I create and develop software | web applications in Ruby on Rails.
                  <br /><br />
                   Check some of <%= link_to "my projects", "#part4", class: "btn pink-font projects " %> in projects folder
                </p>
              </div>
              <div class="start" style="margin-right: -20%;">
                <div class="bcm-cnt-btn"><%= link_to "contact me", contacts_path, class: "btn pink-font contactMe"  %>
                  <!--<a class="btn" href="#footerInner" id="contactUsBtn">contact me</a> -->
                </div>
              </div>
            </div>
          </div>
        </div>


        </div>
<hr style="border: 0;height: 1px;background: #333;background-image: linear-gradient(to right, #ccc, #333, #ccc);" />

   <!-- end  of s=work section -->
<!--
    projects section, listing the projects i have worked on
-->
<div class="container" id="part4">
  <h3 class="btn pink-font projectsFormat bcm-cnt-btn" style="text-align: center; font-size: larger; color: #ef4056; margin-left: 35%">Projects with a big meaning to me( to list a few)</h3>
  <p style="margin-left: 24%; font-size: medium; margin-bottom: 2%; margin-top: 1%; font-weight: bold">Those are the projects i worked on at the very beginning of my journey in developing</p>

  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="/assets/math_a_magic.jpg" alt="Math-A-Magic Project">
        <div class="caption">
          <h3 style="text-align: center;font-weight: bolder; font-size: large; font-style: oblique; color: #ef4056; ">Math-A-Magic</h3>
          <p>Developed a Calculus solving program for college students. It is a more user-friendly program for students who have no experience with Wolfram Alpha and other high-end Math software packages.<i style="color: #00008b">(Worked with Emil Shirima, Chang)</i> </p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="/assets/math_a_magic.jpg" alt="J-Flex  Trade(the trading robot)">
        <div class="caption">
          <h3 style="text-align: center;font-weight: bolder; font-size: large; font-style: oblique; color: #ef4056">J-Flex Trade</h3>
          <p>Building a trading robot that takes into account trading.The aim was for me to build a <u>PROFITABLE</u> robot. Hoping to be able to apply it to bitcoins and be able to make lots of $$$ on trading in the near future <i style="color: #00008b"> (who am I kidding?! in the coming 2-3 years</i></p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="/assets/math_a_magic.jpg" alt="...">
        <div class="caption">
          <h3 style="text-align: center;font-weight: bolder; font-size: large; font-style: oblique; color: #ef4056">Food recipe App</h3>
          <p>Wrote an iphoen that displays list of recipes, along with videos and provide the ability to share with each other, and also compete to see who was more creative on a mothly basis based on votes <i style="color: #00008b">(which comes from friends of users only)</i></p>
        </div>
      </div>
    </div>

  </div>

  <!-- end of projects section -->

<!-- languages used for projects -->
<hr style="border: 0;height: 1px;background: #333;background-image: linear-gradient(to right, #ccc, #333, #ccc);" />
    <div class="container" id="part5">
            <div class="row title">
              <span class="pink-font">Languages/Framework I use</span>
            </div>
            <div class="row" id="imgBackground">
              <p>
                To provide you with great service andmake you happy, i use the following languages/frameworks to work with:&nbsp;
                <br>
              </p>
              <div class="languageImagesStyling" style="background-color: blanchedalmond; margin-left: 5px;margin-right: -4%;">
                    <img alt="Ruby/Ruby on Rails, JavaScript" src="/assets/rails.jpg" style="max-width:100%;">
                    <img alt="html" src="/assets/html.png" style="max-width:100%;">
                    <img alt="css" src="/assets/css.jpg" style="max-width:100%;">
                    <img alt="jQuery" src="/assets/jquery.png" style="max-width:100%;">


                    <img alt="MySql" src="/assets/mysql.jpg" style="max-width:100%;">
                    <img alt="PHP" src="/assets/php.jpg" style="max-width:100%;">
                    <img alt="C_Sharp" src="/assets/c_sharp.jpg" style="max-width:100%;">
                    <img alt="CPlusPlus" src="/assets/cplusplus.png" style="max-width:100%;">
                </div>
              </div>
            </div>

          </div>
      </div>
    </div>

<hr style="border: 0;height: 1px;background: #333;background-image: linear-gradient(to right, #ccc, #333, #ccc);" />





</div>