<!--

            Work form Bootsnipp

-->
<!--
<div id="footer">
  <div class="container">
    <div class="row">

      <br>
      <div class="col-md-4">
        <center>
          <img src="http://oi60.tinypic.com/w8lycl.jpg" class="img-circle" alt="the-brains">
          <br>
          <h4 class="footertext">Programmer</h4>
          <p class="footertext">You can thank all the crazy programming here to this guy.<br>
        </center>
      </div>
      <div class="col-md-4">
        <center>
          <img src="http://oi60.tinypic.com/2z7enpc.jpg" class="img-circle" alt="...">
          <br>
          <h4 class="footertext">Artist</h4>
          <p class="footertext">All the images here are hand drawn by this man.<br>
        </center>
      </div>
      <div class="col-md-4">
        <center>
          <img src="http://oi61.tinypic.com/307n6ux.jpg" class="img-circle" alt="...">
          <br>
          <h4 class="footertext">Designer</h4>
          <p class="footertext">This pretty site and the copy it holds are all thanks to this guy.<br>
        </center>
      </div>
    </div>
    <div class="row">
      <p><center><a href="#"></a> <p class="footertext">Copyright 2015</p></center></p>
    </div>
  </div>
</div>

-->


<footer id="footerFormat">
  <div class="footer" id="footer">

      <div class="container">
        <div class="row">
          <div class="footer-title">Contact us</div>
          <div class="footer-subtitle"></div>
        </div>
        <div class="row">
          <div class="footer-column">

            <div class="info-box contact-form-success" id="contact-form-success" style="display:none;"></div>
            <div class="info-box contact-form-errors" id="contact-form-errors"></div>
            <!--
            <form accept-charset="UTF-8" action="/deliver_mail" data-remote="true" id="contact_form" method="post"><div style="display:none"><input name="utf8" type="hidden" value="✓"></div>
              <div class="form-group">
                <div class="form-controls">
                  <input id="name" name="name" placeholder="name" type="text" value="">
                </div>
              </div>
              <div class="form-group">
                <div class="form-controls">
                  <input id="email" name="email" placeholder="email" type="text" value="">
                </div>
              </div>
              <div class="form-group">
                <div class="form-controls">
                  <textarea id="message" name="message" placeholder="message"></textarea>
                </div>
              </div>
              <div class="form-group submit-button">
                <input name="commit" type="submit" value="send">
              </div>
            </form>
             -->

                <%= render "contacts/new_form" %>

            <div class="vr">&nbsp;</div>

            <div data-width="100%" class="fb-like-box" data-href="#" data-colorscheme="dark" data-show-faces="true" data-header="false" data-stream="false" data-show-border="true"></div>
          </div>
          <div class="footer-column" >

            <div class="half-width pull-left" style="color: white;">
              <div class="footer-small-title">CONTACT:</div>
              <div class="footer-content">
                <a href="mailto:jsaintvi@kent.edu">jsaintvi@kent.edu</a>
                <br>
                phone: (330)289-7787
              </div>
            </div>



<br /> <br /> <br />

            <div class="half-width pull-left">
              <div class="footer-small-title">Location :</div>
              <div class="footer-content">
                Jodex Saint-Vil
                <br>
                225 Midway Drive,
                <br>
                Kent, Ohio

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
  <div class="black-footer">
    <div class="container">
      <div class="footer-copyright">
        © 2015 Jodex Saint-Vil - Ruby on Rails Developer | Software Developer
        &nbsp;
      </div>
    </div>
  </div>

</footer>